.App {
    text-align: center;
}

.App-header-smiley-Btn {
    height: 26px;
    width: 26px;
    border: none;
    background: url('../public/sprites/minesweeper-sprites_smiley.jpg');
}

.App-minefield {
    display: grid;
    grid-template-columns: repeat(16, 16px);
    justify-content: center;
}

.App-minefield button {
    height: 16px;
    width: 16px;
    border: none;
    background: url('../public/sprites/minesweeper-sprites_cell.jpg');
}